body { 
  background: url(bread.png) no-repeat center center fixed; 
  background-size: cover;
}

.bg-image{ 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

.myStyleForMainTitle{
  color: white;
  font-style: italic;
  text-shadow: black 2px 1px 1px;
  max-width: 450px !important;
}

.companyNameStyle{
  background-color: rgba(166, 87, 21, 0.6);
  border: solid;
  border-width: 1px;
  border-color: rgb(155, 77, 13);
}


.myStyleForm{
  background-color: rgba(166, 87, 21, 0.6);
  border: solid;
  border-width: 1px;
  border-color: rgb(155, 77, 13);
 
}

.myStyleTextInForm{
  color: #ffffff;
  text-shadow: black 2px 1px 1px;
}

.myBtnStyle{
  background-color: rgb(155, 77, 13);
  color: #ffffff;
  transition: background-color 0.3s;
}
  .myBtnStyle:hover{
    background-color: rgb(121, 58, 7);
    color: #ffffff;
  }